/* our css*/
/*div {
  border: 1px solid red;
}*/

/*Index page focussed styles*/
.carousel-item {
  width: 100%;
}

.email {
  padding-top: 25px;
  padding-left: 15px;
}




/* Products Page focussed styles*/
.logo-sizing {
  height: 100%;
  padding: 3px 26px 3px 6px;
  margin-right: 25px;
}
.nav-band {
  /*min-height: 85px*/
}

#rightnav {
  height: 100%;
}

#btn-small {
    padding: 0 0.3rem;
}

.cyclecart {
  margin: auto;
}

.tall {
  height: 100%;
}

.descipHeight {
  height: 90px;
}
.gears {
  /*padding: 3px;*/
  line-height: 20px;
  font-size: 20px !important;
  display: block;
  font-weight: 300;


}

.brand {
  margin-bottom: 0px !important;
  /*background-color: cyan;*/
  display: block;
  line-height: 32px;
  font-size: 24px;
  font-weight: 300;
}

/*.droppie {
  background-color: cyan
}*/
